torch
torchaudio
torchcodec
transformers
openai-whisper
s3tokenizer
onnx2torch
onnxruntime-gpu
huggingface_hub
datasets
librosa
soundfile
scipy
numpy
tqdm
einops
sentencepiece
speechbrain
requests
pesq
pystoi
